<router-outlet></router-outlet>
<div class="container">
 
  <div class="row">
    <div class="col-md-6" style="text-align:center;">
      <h3>List of the User's Portal</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <span (click)="addNewPost()" class="btn btn-primary btn-xs">Add New User</span>
       <div class="col py-3" style="margin-top: 5%;">
        <input type="search" class="form-control" id="datatable-search-input" placeholder="Search...">
        <table  class="table table-bordered table-hover">
            <thead>
            <th>#</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Email_Address</th>
            <th>DateOfBirth</th>       
            <th>Actions</th>     
            <!-- <th>Edit</th>
            <th>Delete</th> -->         
          </thead>     
           <tbody>      
            <tr *ngFor="let item of postList let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{item.first_Name}}</td>
              <td>{{item.last_Name}}</td>  
              <td>{{item.email_Address}}</td>
              <td>{{item.date_Of_Birth}}</td>              
              <!-- <td>{{item.date_Of_Birth | date}}</td> -->
              <td><!-- <td><span class="btn btn-primary btn-xs" (click)="editPost(item.id)">
                <span class='bi bi-eye'></span></span>                                --> 
                    <button type="button" class="btn btn-primary btn-xs" (click)="editPost(item)" >View</button>
                </td>
                
              <!-- <td><span class="btn btn-danger btn-xs" (click)="deletePost(item.postId, item.title)">
                  <span class="glyphicon glyphicon-trash"></span></span></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
