<div role="document">
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="editPostForm" (ngSubmit)="onPostEditFormSubmit()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-modal-label">View User Details</h4>
        </div>
        <div class="modal-body">
    
          <div class="form-group">
            <label class="col-sm-2 control-label">first_Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="first_Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">last_Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="last_Name" />
              
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">date_Of_Birth</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="date_Of_Birth" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">email_Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="email_Address" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="address" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">city</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="city" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">zip_Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="zip_Code" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
          <button type="submit" class="btn btn-primary" disabled>Update</button>
        </div>
      </form>
    </div>
  </div>
