<div role="document">
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="addNewPostForm" (ngSubmit)="onPostFormSubmit()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-modal-label">Add New User</h4>
        </div>
        <div class="modal-body">
         
          <div class="form-group">
            <label class="col-sm-2 control-label">first_Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="first_Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">last_Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="last_Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">date_Of_Birth</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="date_Of_Birth" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">email_Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="email_Address" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="address" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">city</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="city" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">zip_Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="zip_Code" />
            </div>
          </div>

          <!-- this.addNewPostForm = new FormGroup({
            'first_Name': new FormControl(null),
            'last_Name': new FormControl(null),
            'date_Of_Birth': new FormControl(null ),
            'email_Address': new FormControl(null),
            'address': new FormControl(null),
            'city': new FormControl(null),
            'zip_Code': new FormControl(null),
          }); -->
          <!-- <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" formControlName="description"></textarea>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
